numexpr~=2.8.7
httpx[brotli,http2,socks]>=0.25.0

fastapi>=0.104
uvicorn~=0.23.1
pydantic~=1.10.11

fschat[model_worker]==0.2.33
torch>=2.1.0
vllm>=0.2.2; sys_platform == "linux"

# online api libs
# ==zhipuai
zhipuai
# ==qwen
dashscope==1.13.3
# ==qianfan
#qianfan
cachetools~=5.3.2
# ==fangzhou
#volcengine>=1.0.106
# ==xinhuo
websockets~=12.0

